<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="hero-content flex-col gap-10 p-10">
    <% if @briquettes.present? %>
      <div class="bg-base-300 rounded-b-box rounded-se-box relative overflow-x-auto" id="outer_index_div" >
        <div class="preview border-base-300 bg-base-100 rounded-b-box rounded-se-box flex min-h-[6rem] min-w-[18rem] max-w-8xl flex-wrap items-center justify-center gap-2 overflow-x-hidden bg-cover bg-top p-4 [border-width:var(--tab-border)]">
          <div class="flex flex-col">
            <div class="overflow-x-auto">
              <table class="table">
                <thead>
                  <tr>
                    <th><label><input type="checkbox" class="checkbox hidden" disabled></label></th>
                    <th>Briquette shift id</th>
                    <th>Shift user </th>
                    <th>Measurement time</th>
                    <th>Briquette speed</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Updated At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @briquettes.each_with_index do |briquette, index| %>
                    <tr>
                      <th>
                        <input type="checkbox" 
                        class="checkbox hidden" 
                        id="checkbox-<%= index %>"
                        disabled>
                      </th>
                      <th>
                        <div class="text-sm opacity-70"><%= briquette.id %></div>
                      </th>
                      <th>
                        <div class="text-sm opacity-70"><%= briquette.shift.user.full_name %></div>
                      </th>
                      <td>
                        <div class="text-sm opacity-100"><%= briquette.measurement_time %></div>
                      </td>
                      <td>
                        <%= render "briquettes/status_badge", briquette: briquette %>
                      </td>
                      <td>
                        <div class="text-sm opacity-100"><%= briquette.notes %></div>
                      </td>
                      <td>
                        <div class="text-sm opacity-50"><%= briquette.updated_at %></div>
                      </td>
                      <th>
                        <%= link_to "Details", shift_briquette_path(briquette.shift, briquette), class: "btn btn-sm btn-primary" %>
                      </th>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>Briquette shift id</th>
                    <th>Shift user </th>
                    <th>Measurement time</th>
                    <th>Briquette speed</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Updated At</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="pagy-nav flex my-5 mb-5 justify-center center-content">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  <% else %>
    <%= render "briquettes/no_briquettes" %>
  <% end %>
</div>
