<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="flex-col gap-x-5 gap-y-10 p-10">
    <div class="card bg-base-100 shadow-xl w-96 p-5" id="briquette_details_<%= @briquette.id %>">
      <div class="card bg-base-150 flex-row ga justify-center">
        <div class="p-5 flex flex-col">
          <div class="flex flex-col justify-center content-center">
            <h1 class="text-lg p-3"> Timesheet details for shift id <%= @shift.id %></h1>
          </div>
          <table class="table w-full border-2 border-inherit">
            <thead>
              <tr class="border-b-2 border-inherit">
                <th class="border-l-2 border-inherit">Datatype</th>
                <th class="border-l-2 border-inherit">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">Measurement Time</td>
                <td class="border-l-2 border-inherit"><%= @briquette.measurement_time.present? ? @briquette.measurement_time : 'None chosen' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">briquette_speed</td>
                <td class="border-l-2 border-inherit"><%= @briquette.briquette_speed || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">bop_or_blast</td>
                <td class="border-l-2 border-inherit"><%= @briquette.bop_or_blast || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">dry_material</td>
                <td class="border-l-2 border-inherit"><%= @briquette.dry_material || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">wet_bentonite</td>
                <td class="border-l-2 border-inherit"><%= @briquette.wet_bentonite || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">pug_mill_one_amp</td>
                <td class="border-l-2 border-inherit"><%= @briquette.pug_mill_one_amp || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">water</td>
                <td class="border-l-2 border-inherit"><%= @briquette.water || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">tons_per_hour</td>
                <td class="border-l-2 border-inherit"><%= @briquette.tons_per_hour || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">briquette_moisture</td>
                <td class="border-l-2 border-inherit"><%= @briquette.briquette_moisture || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">pug_mill_two_amp</td>
                <td class="border-l-2 border-inherit"><%= @briquette.pug_mill_two_amp || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">bulk_density</td>
                <td class="border-l-2 border-inherit"><%= @briquette.bulk_density || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">lime</td>
                <td class="border-l-2 border-inherit"><%= @briquette.lime || 'null' %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td class="border-l-2 border-inherit">molasses</td>
                <td class="border-l-2 border-inherit"><%= @briquette.molasses || 'null' %></td>
              </tr>
            </tbody>
          </table>
          <div class="flex gap-4 mt-4 justify-center">
            <%= link_to 'Back', shift_briquettes_path(@shift), class:  'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
            <% if current_user&.profile&.admin? %>
              <%= link_to "Edit Briquette" , edit_shift_briquette_path(@shift, @briquette), class: 'bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500' %>
            <% end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
