<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="flex-col gap-x-5 gap-y-10 p-10">
    <div class="card bg-base-100 shadow-xl w-96 p-5" id="user_details_<%= @profile.id %>">
      <div class="card bg-base-150 flex-row ga justify-center">
        <div class="p-5 flex flex-col">
          <h1 class="text-bold pb-5">Edit Profile for <%= @profile.full_name %></h1>
          <%= form_with model: [@user, @profile], local: true, html: { multipart: true } do |form| %>
            <div>
              <div>
                <%= form.label :avatar %>
                <%= form.file_field :avatar %>
              </div>
              <div class="field flex flex-col pt-5">
                <% first_name = @profile.first_name %>
                <%= form.label :first_name, "first name", class: "block text-sm font-medium mb-1" %>
                <%= form.text_field :first_name, value: first_name, class: "user-profile-input-field" %>
              </div>
              <div class="field flex flex-col pt-5">
                <% last_name = @profile.last_name %>
                <%= form.label :last_name, "last name", class: "block text-sm font-medium mb-1" %>
                <%= form.text_field :last_name, value: last_name, class: "user-profile-input-field" %>
              </div>
              <div class="field flex flex-col pt-5">
                <% user_status = @profile.status %>
                <%= form.label :status, "status", class: "block text-sm font-medium mb-1" %>
                <%= form.select :status, 
                   options_for_select([['active', 'active'], 
                                       ['inactive', 'inactive']], 
                                      'status'), 
                   { selected: user_status },
                   {class: "user-profile-input-field"} %>
              </div>
              <div class="field flex flex-col pt-5">
                <% user_role = @profile.role %>
                <%= form.label :role, "role", class: "block text-sm font-medium mb-1" %>
                <%= form.select :role, 
                   options_for_select([['admin', 'admin'], 
                                       ['employee', 'employee']], 
                                      'role'), 
                   { selected: user_role },
                    {class: "user-profile-input-field"}
                %>
              </div>
              <div class="field flex flex-col pt-5">
                <% notes=@profile.notes %>
                <%= form.label :notes, "notes", class: "block text-sm font-medium mb-1" %>
                <%= form.text_area :notes, value: notes, class:  "user-profile-input-field" %>
              </div>
            </div>
            <div class="actions flex pt-5">
              <%= form.submit "Update", class: "btn btn-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex gap-4 mt-4 justify-center">
      <%= link_to 'Back', user_profile_path(@user, @profile), class:  'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
      <% if current_user&.profile&.admin? %>
        <%= button_to "Delete Profile", user_profile_path(@profile, @profile), method: :delete, data: { confirm: "Are you sure?" }, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500' %>
        <%= button_to "Delete User", users_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500' %>
      <% end%>
    </div>
  </div>
</div>
