<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="flex-col gap-x-5 gap-y-10 p-10">
    <div class="card bg-base-100 shadow-xl w-96 p-5" id="user_details_<%= @profile.id %>">
      <div class="card bg-base-150 flex-row ga justify-center">
        <div class="p-5 flex flex-col">
          <h1 class="text-bold pb-5">Edit Profile for <%= @profile.full_name %></h1>
          <%= form_with model: [@user, @profile], local: true, html: { multipart: true } do |form| %>
            <div>
              <div>
                <%= form.label :avatar %>
                <%= form.file_field :avatar %>
              </div>
              <div class="field flex flex-col pt-5">
                <% first_name = @profile.first_name %>
                <%= form.label :first_name, "first name", class: "block text-sm font-medium mb-1" %>
                <%= form.text_field :first_name, value: first_name, class: "user-profile-input-field" %>
              </div>
              <div class="field flex flex-col pt-5">
                <% last_name = @profile.last_name %>
                <%= form.label :last_name, "last name", class: "block text-sm font-medium mb-1" %>
                <%= form.text_field :last_name, value: last_name, class: "user-profile-input-field" %>
              </div>
              <div class="field flex flex-col pt-5">
                <% user_role = @profile.role %>
                <%= form.label :role, class: "block text-sm font-medium mb-1" %>
                <div class="flex justify-left w-full text-black">
                  <%= form.select :role, 
                   options_for_select([['admin', 'admin'], 
                                       ['employee', 'employee']], 
                                      user_role), 
                    {class: "user-profile-input-field"}
                %>
                </div>
              </div>
              <div class="field flex flex-col pt-5">
                <% user_status = @profile.status %>
                <%= form.label :status, "status", class: "block text-sm font-medium mb-1" %>
                <div class="flex justify-left w-full text-black">
                  <%= form.select :status, 
                   options_for_select([['active', 'active'], 
                                       ['inactive', 'inactive']], 
                                      user_status), 
                   {class: "user-profile-input-field"} %>
                </div>
              </div>
              <div class="field flex flex-col pt-5">
                <% notes=@profile.notes %>
                <%= form.label :notes, "notes", class: "block text-sm font-medium mb-1" %>
                <div class="flex justify-center w-full text-black">
                  <%= form.text_area :notes, value: notes, class:  "user-profile-input-field" %>
                </div>
              </div>
            </div>
            <div class="flex gap-5 pt-5">
              <div class="flex gap-5 pt-6">
                <%= form.submit 'Update', class: "btn btn-primary" %>
                <%= link_to 'Back', user_profile_path(@user, @profile), class: 'btn btn-secondary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
