<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="hero-content flex-col gap-10 p-10">
    <% if @profiles.present? %>
      <div class="bg-base-300 rounded-b-box rounded-se-box relative overflow-x-auto" id="outer_index_div" >
        <div class="preview border-base-300 bg-base-100 rounded-b-box rounded-se-box flex min-h-[6rem] min-w-[18rem] max-w-7xl flex-wrap items-center justify-center gap-2 overflow-x-hidden bg-cover bg-top p-4 [border-width:var(--tab-border)]">
          <div class="flex flex-col">
            <div class="overflow-x-auto">
              <table class="table w-full border-2 border-inherit">
                <thead>
                  <tr class="border-b-2 border-inherit">
                    <th><label><input type="checkbox" class="checkbox hidden" disabled></label></th>
                    <th>Profile</th>
                    <th class="border-l-2 border-inherit">Avatar</th>
                    <th class="border-l-2 border-inherit">Role</th>
                    <th class="border-l-2 border-inherit">Status</th>
                    <th class="border-l-2 border-inherit">Notes</th>
                    <th class="border-l-2 border-inherit">Updated At</th>
                    <th class="border-l-2 border-inherit">Details</th>
                  </tr>
                </thead>
                <tbody>
                  <% @profiles.each_with_index do |profile, index| %> <!-- Reverse order here -->
                    <tr class="border-b-2 border-inherit">
                      <th>
                        <input type="checkbox" 
                        class="checkbox hidden" 
                        id="checkbox-<%= index %>"
                        disabled>
                      </th>
                      <th>
                        <div class="text-sm opacity-70"><%= profile.full_name %></div>
                      </th>
                      <td class="border-l-2 border-inherit">
                        <div class="flex items-center gap-3">
                          <div class="avatar">
                            <div class="w-12 h-12 mask mask-squircle">
                              <% if profile.avatar.attached? %>
                                <% user_avatar=profile.avatar %>
                                <a href="<%= rails_blob_path(user_avatar, disposition: "attachment") %>" class="venobox" data-title="user avatar (<%= user_avatar.filename.to_s%>)" data-gall="gal-<%= index %>">
                                  <%= image_tag user_avatar.variant(:thumb) %>
                                </a>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="border-l-2 border-inherit">
                        <%= render "profiles/role_badge", profile: profile %>
                      </td>
                      <td class="border-l-2 border-inherit">
                        <%= render "profiles/status_badge", profile: profile %>
                      </td>
                      <td class="border-l-2 border-inherit">
                        <div class="text-sm opacity-100"><%= profile.notes %></div>
                      </td>
                      <td class="border-l-2 border-inherit">
                        <div class="text-sm opacity-50"><%= profile.updated_at %></div>
                      </td>
                      <th class="border-l-2 border-inherit">
                        <%= link_to "Details", user_profile_path(profile, profile.user), class: "btn btn-sm btn-primary" %>
                      </th>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr class="border-b-2 border-inherit">
                    <th></th>
                    <th>Profile</th>
                    <th class="border-l-2 border-inherit">Avatar</th>
                    <th class="border-l-2 border-inherit">Role</th>
                    <th class="border-l-2 border-inherit">Status</th>
                    <th class="border-l-2 border-inherit">Notes</th>
                    <th class="border-l-2 border-inherit">Updated At</th>
                    <th class="border-l-2 border-inherit">Details</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="pagy-nav flex my-5 mb-5 justify-center center-content">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  <% else %>
    <%= render "users/no_users" %>
  <% end %>
</div>
