<div class="hero bg-base-200">
  <div class="hero-content flex-col gap-5 p-10">
    <% if @users.present? %>
      <div class="flex flex-col items-center justify-center">
        <button 
          onclick="window.location.reload();" 
          class="btn btn-primary btn-sm"
          aria-label="Refresh"
        >
          <i class="fas fa-sync"></i>
        </button>
        <div class="w-full h-5"></div>
      </div>
      <div class="bg-base-300 rounded-b-box rounded-se-box relative overflow-x-auto">
        <div class="preview border-base-300 bg-base-100 rounded-b-box rounded-se-box flex min-h-[6rem] min-w-[18rem] max-w-4xl flex-wrap items-center justify-center gap-2 overflow-x-hidden bg-cover bg-top p-4 [border-width:var(--tab-border)]" style="">
          <div data-controller="file-sort">
            <div class="flex justify-center gap-3">
              <button data-action="click->file-sort#sortAscending" class="btn">&#9650;</button>
              <button data-action="click->file-sort#sortDescending" class="btn">&#9660;</button>
            </div>
            <div class="overflow-x-auto">
              <table class="table" data-file-sort-target="fileList">
                <thead>
                  <tr>
                    <th><label><input type="checkbox" class="checkbox hidden" disabled></label></th>
                    <th>Profile</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each_with_index do |user, index| %> <!-- Reverse order here -->
                    <% user_created_at = user.created_at %>
                    <tr data-created-at="<%= user_created_at.iso8601 %>">
                      <th>
                        <input type="checkbox" 
                        class="checkbox hidden" 
                        id="checkbox-<%= index %>"
                        disabled>
                      </th>
                      <td>
                        <div class="flex items-center gap-3">
                          <div class="avatar">
                            <div class="w-12 h-12 mask mask-squircle">
                              <% if user.avatar.attached? %>
                                <% user_avatar=user.avatar %>
                                <a href="<%= rails_blob_path(user_avatar, disposition: "attachment") %>" class="venobox" data-title="user avatar (<%= user_avatar.filename.to_s%>)" data-gall="gal-<%= index %>">
                                  <%= image_tag user_avatar.variant(:thumb) %>
                                </a>
                              <% end %>
                            </div>
                          </div>
                          <div>
                            <div class="font-bold"><%= user.first_name %> <%= user.last_name %></div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="badge badge-primary"><%= user.role %></div>
                      </td>
                      <td>
                        <%= render "users/status_badge", user: user %>
                      </td>
                      <td>
                        <div class="text-sm opacity-50"><%= user.created_at %></div>
                      </td>
                      <th>
                        <%= link_to "Details", user_path(user), class: "btn btn-ghost btn-xs" %>
                      </th>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>Input</th>
                    <th>Output</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="pagy-nav flex my-5 mb-5 justify-center center-content">
          <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      </div>
    <% else %>
      <%= render "users/no_users" %>
    <% end %>
  </div>
</div>
