<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="flex-col gap-x-5 gap-y-10 p-10">
    <div class="card bg-base-100 shadow-xl w-96 p-5" id="shift_details_<%= @shift.id %>">
      <div class="card bg-base-150 flex-row ga justify-center">
        <div class="p-5 flex flex-col">
          <div class="flex flex-col justify-center content-center">
            <h1 class="text-lg p-3"> Shift details for id <%= @shift.id %></h1>
          </div>
          <table class="table w-full border-2 border-inherit">
            <tbody>
              <tr class="border-b-2 border-inherit">
                <td>Shift User:</td>
                <td class="border-l-2 border-inherit"><%= @shift.user.profile.full_name %></td>
              </tr>
              <tr class="border-b-2 border-inherit">
                <td>Shift Number:</td>
                <td class="border-l-2 border-inherit"><%= @shift.shift_number %></td>
              </tr>
              <% if current_user&.profile&.admin? %>
                <tr class="border-b-2 border-inherit">
                  <td>Job Type:</td>
                  <td class="border-l-2 border-inherit"><%= render "shifts/job_type_badge", shift: @shift %></td>
                </tr>
                <tr class="border-b-2 border-inherit">
                  <td>Status:</td>
                  <td class="border-l-2 border-inherit"><%= render "shifts/status_badge", shift: @shift %></td>
                </tr>
                <tr class="border-b-2 border-inherit">
                  <td>Notes:</td>
                  <td class="border-l-2 border-inherit"><%= @shift.notes %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="flex gap-4 mt-4 justify-center">
            <% if current_user&.profile&.employee? %>
              <%= link_to 'Back', shifts_index_user_path(@user), class:  'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
            <% end %>
            <% if current_user&.profile&.admin? %>
              <%= link_to 'Back', shifts_path, class:  'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
              <%= link_to "Edit Shift" , edit_user_shift_path(@user, @shift), class: 'bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500' %>
            <% end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
